ion-slides.slideContainer {
  background: linear-gradient(0, #001400, #000000);
  height: 100%;
}

ion-content{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

ion-card-header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ion-card{
  animation: opacityText 1s linear;
  background: linear-gradient(0, #001400, #000000);
}

ion-card-content.openingCard{
  animation: opacityText 4s linear;

  .openingCard{
    opacity: 1;
  }
}

.contentSlide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.containerCard {
  width: 90%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 3rem;
}
img {
  width: 300px;
  height: 400px;
  margin: 0 auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
span.informations{
  margin: 0 auto;
  font-size: .7rem;
  color: rgb(88, 88, 88);
}
.releaseDate {
  font-size: 1rem;
  color: #8d8d8d;
  font-style: italic;
  font-weight: normal;
}

.area_neon{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  margin-left: 10rem;
  margin-top: -9rem;
  margin-bottom: -9rem;
}
.area_neon h1.neon{
  display: block;
  min-height: 220px;
  margin: 0 auto;
  margin: 0;
  width: 10px;
  background-color: white;
  border-radius: 20px 20px 0 0 ;
  box-sizing: content-box;

  border: 3px solid #00FF6C;
  box-shadow: 0 0 5px #00FF6C, 0 0 220px #00FF6C;
  filter: blur(1px);
  transition: all ease-in-out .3s;

  transform: scaleY(0);
  transform-origin: bottom center;
}
.area_neon h1.neon.on{
  transform: scaleY(1);

  animation-name: lightAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.handle{
  margin: 0 auto;
  height: auto;
  width: 15px;
  margin-top: -20px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
@keyframes lightAnim{
  from{
    box-shadow: 0 0 5px #00FF6C, 0 0 200px #00FF6C;
  }
  to{
    box-shadow: 0 0 2px #00FF6C, 0 0 190px #00FF6C;
  }
}
@keyframes opacityText{
  0%{opacity:0;}
  100%{opacity:1;}
}
